@import '@styles/functions.style';

.radio-input-group {
  padding: toRem(5) toRem(7.5);

  @media (min-width: 620px) {
    display: flex;
    align-items: center;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: toRem(8);
    }
  }

  &__radio-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: currentColor;
    min-width: toRem(15);
    aspect-ratio: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    cursor: pointer;

    &:checked {
      border-width: 4px;
    }
  }

  &__radio-label {
    color: #fff;
    padding: toRem(5) toRem(10);
  }
}
