.app-loader {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.775);
  z-index: 99999;

  & > img {
    width: 100px;
    aspect-ratio: 1;
  }
}
