@import '@styles/functions.style';

.button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: toRem(12) toRem(24);
  cursor: pointer;
  transition: 0.2s all;
  font-weight: 700;
  font-size: toRem(16);

  &--primary {
    background-color: #33a0fb;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

    &:active {
      transform: scale(0.95);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }

  &--secondary {
    color: #33a0fb;
    background-color: #fff;

    &:hover,
    &:active {
      color: #1561c3;
    }
  }

  &--no-spacing {
    padding: 0;
    margin: 0;
    width: auto;
  }

  &--transparent-bg {
    background: transparent;
  }
}
